---
- name: Download package
  get_url:
    url: "https://github.com/jgraph/drawio-desktop/releases/download/v{{ drawio_version }}/{{ drawio_package_name }}-x86_64-{{ drawio_version }}.rpm"
    dest: "/tmp/{{ drawio_package_name }}-{{ drawio_version }}.rpm"

- name: Install package
  become: true
  yum:
    name: "/tmp/{{ drawio_package_name }}-{{ drawio_version }}.rpm"
